*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: aquamarine;
    width: 100%;
    height: 80px;
}

.header__ul{
    display: inline-block;
    
}

.header__li{
    display: inline-block;
    margin-top: 30px;
    margin-left: 50px;
}

.main__section {
  display: inline-block;
  width: 60%;         
  height: 100vh;      
  background: lightblue;
  vertical-align: top; 
}

.main__aside {
  display: inline-block;
  width: 40%;         
  height: 100vh;
  background: lightgray;
  vertical-align: top;
}

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(103, 213, 176);
}